# Question 1 - List

In [1]:
lst = ["Mitul",905959,703.25,[27,10,19,9]]

In [2]:
lst

['Mitul', 905959, 703.25, [27, 10, 19, 9]]

In [3]:
lst[2]

703.25

In [4]:
lst[1:4]

[905959, 703.25, [27, 10, 19, 9]]

In [6]:
lst[3][1]

10

In [7]:
lst.append("Hi")

In [8]:
lst

['Mitul', 905959, 703.25, [27, 10, 19, 9], 'Hi']

In [10]:
lst.insert(4,"Everybody")

In [11]:
lst

['Mitul', 905959, 703.25, [27, 10, 19, 9], 'Everybody', 'Hi']

In [12]:
lst.remove("Hi")

In [13]:
lst

['Mitul', 905959, 703.25, [27, 10, 19, 9], 'Everybody']

In [14]:
lst.reverse()

In [15]:
lst

['Everybody', [27, 10, 19, 9], 703.25, 905959, 'Mitul']

In [18]:
lst.clear()

In [19]:
lst

[]

In [21]:
lst.copy()

[]

In [22]:
lst.append("Letsupgrade")

In [23]:
lst

['Letsupgrade']

In [24]:
lst.count("Letsupgrade")

1

# Question 2 - Dictionaries

In [25]:
dit = {"Fruit":"Apple","Vegetable":"Potato","Kg":"2"}

In [26]:
dit

{'Fruit': 'Apple', 'Vegetable': 'Potato', 'Kg': '2'}

In [28]:
dit.update({"Rupees":"50"})

In [29]:
dit

{'Fruit': 'Apple', 'Vegetable': 'Potato', 'Kg': '2', 'Rupees': '50'}

In [30]:
dit.get("Vegetable")

'Potato'

In [31]:
dit.values()

dict_values(['Apple', 'Potato', '2', '50'])

In [33]:
dit.popitem()

('Rupees', '50')

In [35]:
dit.pop("Kg")

'2'

In [36]:
dit

{'Fruit': 'Apple', 'Vegetable': 'Potato'}

In [37]:
dit.clear()

In [38]:
dit

{}

# Question 3 - Sets

In [39]:
st = {"Mitul",331,"SRM",16,41,3}

In [40]:
st

{16, 3, 331, 41, 'Mitul', 'SRM'}

In [41]:
st.add("Cherry")

In [42]:
st

{16, 3, 331, 41, 'Cherry', 'Mitul', 'SRM'}

In [43]:
st1 = {1,2,3,4}

In [44]:
st.difference(st1)

{16, 331, 41, 'Cherry', 'Mitul', 'SRM'}

In [45]:
st

{16, 3, 331, 41, 'Cherry', 'Mitul', 'SRM'}

In [46]:
st.discard("SRM")

In [47]:
st

{16, 3, 331, 41, 'Cherry', 'Mitul'}

In [48]:
st.intersection_update(st1)

In [49]:
st

{3}

In [50]:
st.union(st1)

{1, 2, 3, 4}

In [51]:
st

{3}

In [52]:
st1

{1, 2, 3, 4}

In [54]:
st1.remove(2)

In [55]:
st1

{1, 3, 4}

In [56]:
st1.symmetric_difference(st)

{1, 4}

# Question 4 - Tuple

In [60]:
tup = ("Mitul","17","Python","Python")

In [61]:
tup

('Mitul', '17', 'Python', 'Python')

In [62]:
tup.count("Python")

2

In [63]:
tup.index("Mitul")

0

# Question 5 - String

In [65]:
Name = "Mitul"
Surname = "Asodariya"

In [73]:
Name+" "+Surname

'Mitul Asodariya'

In [75]:
str = "anaconda"

In [76]:
str.capitalize()

'Anaconda'

In [77]:
str.casefold()

'anaconda'

In [78]:
str1 = "anaconda is awsome"

In [79]:
str.count(str1)

0

In [80]:
str2 = "Hel00 everybody"

In [81]:
str2.islower()

False

In [82]:
str1.islower()

True

In [83]:
str3 = "Bond 007"

In [84]:
str3.isdigit()

False

In [85]:
str4 = "852"

In [86]:
str4.isdigit()

True

In [91]:
str.rindex(str)

0

In [93]:
str1.zfill(20)

'00anaconda is awsome'